html{
	background-color: black;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 1000px;
	text-align: center;
}
body:before{
content: "";
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: rgb(0,0,0);
	background-image: linear-gradient(
			rgba(0,0,0, 0) 80%,
			rgba(0,0,0, 1) 100%
		),
		url('bg2lobad.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	display: block;
	height: 1200px;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.techpage {
	text-align: initial;
}
#logo{
	padding: 20px 0;
}
.logo{
	filter: drop-shadow(0 0 10px white);
	width:900px;
	max-width: 75%;
	margin: 1em;
}
@media screen and (max-width: 480px) {
	.logo{
		max-width: 90%;
	}	
}	

header h1, body header
{
	display: none;
}

#livenow
{
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease;
}
#twitch-widget
{
	display: block;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	font-family: arial;
	text-decoration: none;
	text-align: center;
	padding: 3px;
	margin: 3px;
	border-radius: 3px;
	position: relative;
	z-index: 2;
}

#contentbox{
	display:block;
	margin-top: 20px;
	height:auto;
}
#loadzone{
	margin-top: 20px;
	height:auto;
}
.content{
	background-color: rgba(255,255,255,0.65);
	margin-bottom: 0;
}
.content p.intro, .content h2#about ~ p{
	font-size: 1.5em;
}
.content img{
	max-width: 100%;
}

#cube1
{
	width: 50px;
}
#cube1:hover{
	filter: drop-shadow(0 0 5px black);
}
.content.links {
	padding: 5px;
	max-width: 500px;
	margin: auto;
}
.content.links a,
#mc-embedded-subscribe#mc-embedded-subscribe{
	display: block;
	height: 45px;
	line-height: 45px;
	margin: 5px;
	color: rgba(255,255,255, .75);
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	text-decoration: none;
}
.content.links a i,
a i.social	{
	color: rgba(255,255,255, .75);
	padding-right: 5px;
	font-size: 20pt;
	line-height: 45px;
}
.content.links a:hover,
#mc-embedded-subscribe:hover,
a i.social:hover{
	text-shadow: 0 0 5px white;
}
mc_embed_signup, #mc_embed_signup_scroll{
	margin: 5px;
}
#mc_embed_signup_scroll#mc_embed_signup_scroll .email{
	height: 45px;
	border-radius: 5px;
	margin: 0px;
	border: 1px transparent;
	background-color: rgba(255,255,255,.75);
	padding: 0px 0.4em;
	display: inline-block;
	vertical-align: top;
}
#mc_embed_signup_scroll#mc_embed_signup_scroll .clear{
	display: inline-block;
}
#mc_embed_signup_scroll#mc_embed_signup_scroll [type=submit]{
	margin: 0px;
	width: 100%;
	border: 1px transparent;
}

a i.social {
	font-size: 25pt;
	width: 50px;
}

p{
	background-color: transparent;
}
